# Запрещаем прямой доступ к конфигу с кредами от базы данных

# Apache 2.4+
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>

# Apache 2.2 (на случай старого окружения)
<IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
</IfModule>
